/* universal selector changes page default to 0 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
    background-color: rgb(255, 251, 251);
}

.main-site{
    padding: 20px;}

.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #000000;
    position: sticky;
    top: 0;
    overflow: hidden;

}
/* Logo styling */
.site-logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.site-logo:hover{
    font-size: 1.5rem;
    font-weight: bold;
    color: #c81e0a;
    text-decoration: none;
}

/* Navbar styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    padding: 10px 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px; 
    overflow: hidden;
    background-color: black;
  }
  
.navbar ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    background-color: black;
  }

.navbar a:hover{
    color: #c81e0a;
}
.navbar a:active{
    color: #ed199fbe;
}

/* banner section styling */
.banner{
   width:100%;
   height:100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url(images/fire\ performance.jpg);
   background-size: cover;
}
   

.banner h2{
    text-align: center;
    font-size: 75px;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    text-shadow: rgba(174, 171, 171, 0.7) 25px 15px 3px;
    background-color: transparent;
}

/* Heading styling */
h2{
    text-align: center;
    text-shadow: #989797a6 20px 20px 2px;
    padding: 20px;
    margin: 20px;
    border: 15px;
    font-size: 70px;
    word-spacing: 10px;
    text-decoration: underline;
    font-weight: bold;
}
.section-title{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    color: #0d0101;
    margin: 20px;
    text-shadow: #630b0ba6 20px 15px 2px;
    border-top: 5px solid #000000;
    border-bottom:5px solid #000000;
}
.section p{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
h4{
    font-size: 40px;
}

/* quote styling */
.styled-quote {
    font-size: 40px;
    font-style: italic;
    color: #000000;
    border-left: 5px solid #f10d0d;
    margin: 20px 0;
    padding: 30px 30px;
    background-color: #fff;
    position: relative;
    animation: colorChange 7s infinite;
}
.styled-quote cite {
    display: block;
    text-align: right;
    font-size: 18px;
    color: #000000;
}

/* About Us styling */
.about {
    text-align: center;
    font-size: 25px;
    padding: 30px 80px;
    word-spacing: 10px;

}

/* styles the list inside the paragraph */
.about ul{  
    list-style: disc;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 30px;
    background-image: url(images/paint-backsplash.jpg);
    
}

/* event section styling for home page */
.events{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.card{
    background: rgb(250, 250, 250);
    width: 270px;
    height: 800px;
    margin: 10px;
    border-radius: 20px;
}
.card-image{
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 20px;
}
.card p{
    padding: 10px;
    font-size: 18px;
}
.card a{
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
}
.card a:hover{
    background-color: #c81e0a;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;}
.card:hover{
    background-color: #fab520;
    cursor: pointer;
    transform: scale(1.03);
    transition: ease;
}
.card ul li{
    list-style-type: none;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}
.event-1{
    background-image: url(images/beetlejuice.jpg);
    
}
.event-2{
    background-image: url(images/hamilton.jpg);
}
.event-3{
    background-image: url(images/swan\ lake.jpg);
}

.event-4{
    background-image: url(images/kids\ dancing.jpg);
}

.event-5{
    background-image: url(images/culinary\ art\ plating.jpg);
}

.event-6{
    background-image: url(images/fire-dance-upcoming.jpg);
}

/* footer styling */
footer p {
    width: 100%;
    text-align: center; 
    background-color: #000000;
    color:white;
    padding: 15px;}

/* animations */
@keyframes colorChange{
    0%{color: rgb(0, 0, 0);}
    25%{color: rgb(240, 90, 90);}
    50%{color: rgb(16, 243, 69);}
    75%{color:rgb(144, 0, 255);}
    100%{color:rgb(13, 0, 255);}
}
@keyframes buttonhover {
    50%{scale: 1.5;}
}

/* FORM styling for contact page*/
h2 {
    margin-bottom: 20px;
    text-align: center;
}

fieldset{
    margin: 20px;
    font-weight: bold;
    font-size: 20px;
    background-color: #f8771410;
    text-align: center;
    border-style: none;
    
}
legend{
    padding-bottom: 20px;
}
input[type='submit']{
    background-color: #f8771410;
    font-weight: bold;
    padding: 10px;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
input[type='submit']:hover{
    background-color: #f87714;
    font-weight: bold;
    padding: 10px;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    animation: buttonhover 5s infinite;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 5px solid #84150b;
    border-radius: 8px;
    background-color: rgb(255, 255, 251);
}

/* Menu styling */
.menu{
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th,td {
    border: 8px solid #000000;
    padding: 8px;
    text-align: left;
    border-style: outset;
}
th {
    background-color: #f1c4a2a0;
}
.menu h3 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
    color: rgb(0, 0, 0);
    margin: 10px;
    padding: 10px;
}

/* Location Page Styling */
.location{
    padding: 20px;
}
.location p{
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-size: 30px;
    text-decoration: underline;
}
.location a{
    color: black;
}
.location a:hover{
    color: #c81e0a;
}
.location ul{
    list-style: none;
}
.location li{
    text-align: center;
    padding: 8px;
    font-weight: bold;
    font-size: x-large;
}
#map-border{
    border-left: 6px solid #84150b ;
}

/* media queries */
@media  screen and (max-width:600px) {
    .banner h2{
        font-size: 32px;
        font-weight: bolder;
    }
    .menu{
        margin: 0;
        padding: 5px;
    }
    .styled-quote {
        font-size: 22px;
    }
    .location{
        flex-direction: column;
        padding: 0px;
    }
    .main-site{
        padding: 0px;
    }
    .site-logo{
        font-size: 15px;}
    .navbar ul li a {
        font-size: 15px;}
}